#sidebar {
  background: #fff;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 20px;
  padding-right: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 35vh;
}

.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(12, 11, 11);
  margin-bottom: 30px;
}

.sidebar__title > div > h1 {
  font-size: 18px;
  display: inline;
}

.sidebar__title > i {
  font-size: 18px;
  display: none;
}

.sidebar__menu > h2 {
  color: #000;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 700;
}

.sidebar__link {
  color: #f3f4f6;
  padding-left: 10px;
  padding-right:10px;
  border-radius: 3px;
  margin-bottom: 5px;
  padding-bottom: 1px;
  padding-top: 3px;
}

.active_menu_link {
  color: #0d6efd;
  border-right: 2px solid #0d6efd;
  border-radius: 1%;
}

.active_menu_link a {
  color: #0d6efd !important;
}

.active_menu_link i {
  color: #0d6efd !important;
}

.sidebar__link > a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.sidebar__link > i {
  margin-right: 10px;
  font-size: 12px;
  color: #000;
}

.sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: #e65061;
}

.sidebar__logout > a {
  text-decoration: none;
  color: #e65061;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar__logout > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

#logout-btn {
  position: absolute !important;
  bottom: -22rem;
}

@media only screen and (max-width: 978px) {
  #sidebar {
    display: none;
  }

  .sidebar__title > i {
    display: inline;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1275px) {
  #sidebar {
    width:14vh;
  }

  #logout-btn{
    bottom: 2rem !important;
  }
} 

@media only screen and (min-width: 1276px) and (max-width: 1300px) {
  #sidebar {
    width:35vh;
  }
}

@media only screen and (min-width: 1300px) {
  #sidebar {
    width:27vh;
  }
  #logout-btn{
    bottom: -21rem !important;
  }
}