@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* styling-scrollbar*/

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::webkit-scrollnar-track {
  box-shadow: inset 0 0 5px #a5aada;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3ea175;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #a5aada;
}

/* general styling */

*{
  margin:0;
  padding:0;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.text-primary-p{
  color: #a5aada;
  font-size: 14px;
  font-weight: 700;
}

.text-black{
  color: #2e4a66;
  font-size: 12px;
  font-weight: 700;
}

.font-bold {
  font-weight:700;
}

.text-title {
  color: #2e4a66;
}

.text-lightblue {
  color: #469cac;
}

.text-red {
  color: #cc3d38;
}

.text-yellow {
  color: #a98921
}

.text-green {
  color: #3b9668;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 180px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
    "sidebar nav nav nav"
    "sidebar main main main";
}

.btn {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.btn .caret {
    margin-left: 0;
}

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

button[disabled] {
    color: #b4b1b1;
    border : 1px solid #b4b1b1;
}

.d-none {
  display:none !important;
}

.d-flex {
  display: flex !important;
}

/*accordion properties*/

.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    margin-bottom: 10px;
    
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529 !important;
    text-align: left;
    background-color: #fff !important;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out;
    background-color:.15s ease-in-out;
    border-color:.15s ease-in-out;
    border-radius: .15s ease;
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    cursor: pointer;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

/* for up arrow when accordian collapse */
.accordion-button-up {
    transform: rotate(-180deg);
}

.accordion-body {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  background-color: white;
  border-top: 1px solid lightgray;
}

.accordion-body .item {
  border-right: 1px solid lightgray;
  padding-left: 18px;
  padding-right: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  text-align: justify;
}

.accordion-body .item:last-child {
    border-right: none;
}


/*accordion properties*/

.mt-10 {
  margin-top: 10px;
}

.padding {
  padding: 10px 71px;
}

.mr-14 {
  margin-left: 14px;
}

/* Dropdown styling */

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    min-width: 12rem;
    top: 3.5rem;
    right: 19px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    outline: 9999px solid rgba(0,0,0,.5); /* to provide overlay */
}

.dropdown-menu::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 74%;
    margin-left: -5px;
    border: 9px solid;
    border-color: transparent transparent white transparent;
}

.dropdown-item {
    position: relative;
    display: block;
    padding: 12px 1rem;
    color: #565b5f;
    text-decoration: none;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 12px;
    font-weight: 600;
    cursor:pointer;
}

/* Overriding Progress Bar styling */

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color : #eee;
  border-radius : 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: 
    -webkit-linear-gradient(top, rgba(255,255,255,.25), 
                              white),
    -webkit-linear-gradient(left,  #63ABFF, #007FFF);

    border-radius: 10px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    
}

/* Overriding react-date-range picker */

.rdrDateRangePickerWrapper {
    height: 353px !important;
    border: 1px solid transparent !important;
    box-shadow: 1px 4px 11px #000 !important;
}

.rdrDefinedRangesWrapper {
  width: 140px !important;
}

.rdrCalendarWrapper {
    font-size: 11px !important;
    width: 546px !important;
}

/* for screen size */

@media only screen and (max-width: 978px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .container {
    grid-template-columns: 180px 1fr 1fr 1fr;
    grid-template-rows: 57px 3fr;
  }
}